@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Regular.otf')  format('opentype'),
	     url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf')  format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Bold.otf')  format('opentype'),
	     url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf')  format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Black.otf')  format('opentype'),
	     url('../fonts/ProximaNova-Black.woff') format('woff'), url('../fonts/ProximaNova-Black.ttf')  format('truetype'), url('../fonts/ProximaNova-Black.svg#ProximaNova-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaCond';
  src: url('../fonts/ProximaNovaCond-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNovaCond-Black.otf')  format('opentype'),
	     url('../fonts/ProximaNovaCond-Black.woff') format('woff'), url('../fonts/ProximaNovaCond-Black.ttf')  format('truetype'), url('../fonts/ProximaNovaCond-Black.svg#ProximaNovaCond-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaCond';
  src: url('../fonts/ProximaNovaCond-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNovaCond-Bold.otf')  format('opentype'),
	     url('../fonts/ProximaNovaCond-Bold.woff') format('woff'), url('../fonts/ProximaNovaCond-Bold.ttf')  format('truetype'), url('../fonts/ProximaNovaCond-Bold.svg#ProximaNovaCond-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaCond';
  src: url('../fonts/ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNovaCond-Regular.otf')  format('opentype'),
	     url('../fonts/ProximaNovaCond-Regular.woff') format('woff'), url('../fonts/ProximaNovaCond-Regular.ttf')  format('truetype'), url('../fonts/ProximaNovaCond-Regular.svg#ProximaNovaCond-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

body{
	margin:0;
	padding: 0;
	font-family: 'ProximaNovaCond', sans-serif;
	font-size: 15px;
	line-height:1.4;
    letter-spacing: 0.05em;
	color: rgb(0, 0, 0);
	min-width: 360px;
}

.wrapper {
     max-width:1200px;
     padding:0 40px;
     margin:0 auto;
}

header .first_line {
    background-color: #304a9a;
    font-family: 'ProximaNova';
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    padding: 10px 0;
}

header .first_line .wrapper, header .second_line .wrapper, .main_screen .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header .first_line .group {
    text-align: left;
    text-transform: uppercase;
}

header .first_line .territory {
    text-align: right;
    padding-left: 30px;
    position: relative;
}

header .first_line .territory::before {
    content: "";
    background-image: url(../img/sprites.svg);
    background-position: -182px -642px;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
}

header .second_line {
    padding: 8px 0 10px;
}

header .logo {
    display: inline-block;
    vertical-align: middle;
    background-image: url(../img/sprites.svg);
    background-position: -7px -1px;
    width: 310px;
    height: 80px;
}

header .phones .handset {
    display: inline-block;
    vertical-align: middle;
    background-image: url(../img/sprites.svg);
    background-position: -10px -121px;
    width: 80px;
    height: 80px;
    margin-right: 13px;
}

header .phones .inner {
    display: inline-block;
    vertical-align: middle;
}

header .phones a {
    font-family: 'ProximaNova';
    font-size: 24px;
    color: rgb(20, 31, 64);
    font-weight: 700;
    text-align: left;
    text-decoration: none;
}

header .phones .free {
    font-family: 'ProximaNova';
    font-size: 14px;
    color: rgb(48, 74, 154);
    font-weight: 400;
    text-align: left;
}

/*main_screen*/

.main_screen {
    background: url(../img/logo_pattern.png) #46aeff;
    padding: 30px 0;
}

.main_screen .example {
    position: relative;
}

.main_screen .example img {
    position: absolute;
    top: -20px;
    left: -60px;
}

.main_screen .circle {
    box-sizing: border-box;
    border: 6px solid rgb(255, 255, 255);
    border-radius: 50%;
    width: 298px;
    height: 298px;
    position: absolute;
    left: 320px;
    top: 220px;
    background-image: -moz-linear-gradient( -90deg, rgb(255,218,118) 31%, rgb(255,193,24) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb(255,218,118) 31%, rgb(255,193,24) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(255,218,118) 31%, rgb(255,193,24) 100%);
    opacity: 0.7;
    padding: 50px 0;
}

.main_screen .circle::before {
    content: '';
    position: absolute;
    top: -15px;
    bottom: -15px;
    left: -15px;
    right: -15px;
    margin: auto;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: rgba(255, 228, 152, 0.29);
    -webkit-animation: ripple 0.7s ease-out infinite;
	animation: ripple 0.7s ease-out infinite;
}

.main_screen .circle::after {
    content: '';
    position: absolute;
    top: -35px;
    bottom: -35px;
    left: -35px;
    right: -35px;
    margin: auto;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: rgba(255, 228, 152, 0.161);
    -webkit-animation: ripple 0.7s ease-out infinite;
	animation: ripple 0.7s ease-out infinite;
}

@-webkit-keyframes ripple {
	from {width:298px;height:298px;}
	to {width:335px;height:335px;}
}
@keyframes ripple {
	from {width:298px;height:298px;}
	to {width:335px;height:335px;}
}

.main_screen .circle .icon {
    background-image: url(../img/sprites.svg);
    background-position: -10px -239px;
    width: 80px;
    height: 80px;
    margin: 0 auto 10px;
}

.main_screen .circle .text {
    font-size: 18px;
    color: rgb(20, 31, 64);
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.main_screen .form {
    box-sizing: border-box;
    border: 6px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2);
    max-width: 480px;
    height: 100%;
    padding: 72px 43px 47px;
}

.main_screen .form h1 {
    font-size: 38px;
    font-weight: 900;
    color: rgb(20, 31, 64);
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.main_screen .form .figures {
    font-size: 26px;
    font-weight: 400;
    color: rgb(36, 55, 115);
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
}

.main_screen .form .wpcf7-form-control {
    box-sizing: border-box;
    border: 1px solid rgb(203, 203, 203);
    height: 62px;
    width: 100%;
    font-size: 17px;
    color: rgb(96, 96, 96);
    font-weight: 400;
    text-align: left;  
    outline: none;
    padding-left: 20px;
    margin: 9px 0;
}

.main_screen .form .button {
    display:inline-block;
    background-color: #304a9a;
    box-sizing: border-box;
    border: none;
    width: 100%;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    padding: 30px;
    margin: 20px 0 13px;
    font-size: 19px;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.main_screen .form .guarantee {
    font-size: 16px;
    font-weight: 400;
    color: rgb(124, 124, 124);
    text-align: left;
    padding-left: 24px;
    position: relative;
} 

.main_screen .form .guarantee::before {
    content: "";
    background-image: url(../img/sprites.svg);
    background-position: -74px -642px;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
}

/*advantages*/

.advantages {
    padding: 160px 0;
}

.advantages h2 {
    font-size: 42px;
    font-weight: 900;
    color: rgb(20, 31, 64);
    text-transform: uppercase;
    line-height: 1.143;
    text-align: center;
}

.advantages .process {
    font-size: 30px;
    font-weight: 400;
    color: rgb(48, 74, 154);
    text-transform: uppercase;
    text-align: center;
}

/*media*/

@media screen and (max-width: 1279px) {
    
    .wrapper {
        padding: 0 15px;
    }
    
    .main_screen .circle {
        left: 9px;
        top: 235px;
    }
    
    .main_screen .form {
        max-width: 440px;
        padding: 72px 35px 47px;
    }
}

@media screen and (max-width: 1023px) {
    .main_screen {
        padding: 50px 0 40px;
    }
    
    .main_screen .wrapper {
        justify-content: flex-end;
        padding: 0; 
    }
    
    .main_screen .example img {
        position: relative;
        max-width: 550px;
    }
    
    .main_screen .circle {
        left: -105px;
        top: 221px;
    }
    
    .main_screen .form {
        max-width: 1023px;
        width: 100%;
        border-left: none;
        border-right: none;
    }
    
    .main_screen .form .form_wrapper {
        max-width: 360px;
        margin: 0 auto;
    }
    
}








