@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Regular.otf')  format('opentype'),
	     url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf')  format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Bold.otf')  format('opentype'),
	     url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf')  format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Black.otf')  format('opentype'),
	     url('../fonts/ProximaNova-Black.woff') format('woff'), url('../fonts/ProximaNova-Black.ttf')  format('truetype'), url('../fonts/ProximaNova-Black.svg#ProximaNova-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaCond';
  src: url('../fonts/ProximaNovaCond-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNovaCond-Black.otf')  format('opentype'),
	     url('../fonts/ProximaNovaCond-Black.woff') format('woff'), url('../fonts/ProximaNovaCond-Black.ttf')  format('truetype'), url('../fonts/ProximaNovaCond-Black.svg#ProximaNovaCond-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaCond';
  src: url('../fonts/ProximaNovaCond-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNovaCond-Bold.otf')  format('opentype'),
	     url('../fonts/ProximaNovaCond-Bold.woff') format('woff'), url('../fonts/ProximaNovaCond-Bold.ttf')  format('truetype'), url('../fonts/ProximaNovaCond-Bold.svg#ProximaNovaCond-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaCond';
  src: url('../fonts/ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNovaCond-Regular.otf')  format('opentype'),
	     url('../fonts/ProximaNovaCond-Regular.woff') format('woff'), url('../fonts/ProximaNovaCond-Regular.ttf')  format('truetype'), url('../fonts/ProximaNovaCond-Regular.svg#ProximaNovaCond-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

body{
	margin:0;
	padding: 0;
	font-family: 'ProximaNova', sans-serif;
	font-size: 15px;
	line-height:1.4;
    letter-spacing: 0.05em;
	color: rgb(0, 0, 0);
	min-width: 360px;
}

button,input,select,textarea{
    font-family: 'ProximaNova'; 
    font-size: 17px;
}

textarea{
    line-height: 1.6;
}

.wrapper {
     max-width:1200px;
     padding:0 40px;
     margin:0 auto;
}

header {
    box-sizing: border-box;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.3);
    position: relative;
}

header .first_line {
    background-color: #304a9a;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    padding: 10px 0;
}

.between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header .first_line .group {
    text-transform: uppercase;
}

header .first_line .territory {
    text-align: right;
    padding-left: 30px;
    position: relative;
}

header .first_line .territory::before {
    content: "";
    background-image: url(../img/sprites.svg);
    background-position: -182px -642px;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
}

header .second_line {
    padding: 10px 0;
}

header .logo {
    background-image: url(../img/sprites.svg);
    background-position: -7px -12px;
    width: 310px;
    height: 65px;
    margin: auto 0;
}

header .phones .handset {
    display: inline-block;
    vertical-align: middle;
    background-image: url(../img/sprites.svg);
    background-position: -9px -121px;
    width: 80px;
    height: 74px;
    margin-right: 13px;
}

header .phones .inner {
    display: inline-block;
    vertical-align: middle;
}

header .phones a {
    font-size: 24px;
    color: rgb(20, 31, 64);
    font-weight: 700;
    text-decoration: none;
}

header .phones .free {
    font-size: 14px;
    color: rgb(48, 74, 154);
    font-weight: 400;
}

/*main_screen*/

.main_screen {
    background: url(../img/logo_pattern.png) #46aeff;
    padding: 30px 0;
}

.main_screen .example {
    position: relative;
}

.main_screen .example img {
    position: absolute;
    top: -20px;
    left: -60px;
}

.main_screen .circle_wr {
    width: 350px;
    height: 350px;
    position: absolute;
    left: 320px;
    top: 220px;
}

.main_screen .circle {
    box-sizing: border-box;
    border: 6px solid rgb(255, 255, 255);
    border-radius: 50%;
    width: 298px;
    height: 298px;
    background-image: -moz-linear-gradient( -90deg, rgb(255,218,118) 31%, rgba(255,193,24, 0.7) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb(255,218,118) 31%, rgba(255,193,24, 0.7) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(255,218,118) 31%, rgba(255,193,24, 0.7) 100%);
    padding: 50px 0;
    z-index: 2;
    position: absolute;
    top: -15px;
    bottom: -15px;
    left: -15px;
    right: -15px;
    margin: auto;
}

.main_screen .circle .icon {
    background-image: url(../img/sprites.svg);
    background-position: -10px -239px;
    width: 80px;
    height: 80px;
    margin: 0 auto 10px;
    position: relative;
    z-index: 3;
}

.main_screen .circle .text {
    font-family: 'ProximaNovaCond';
    font-size: 18px;
    color: rgb(20, 31, 64);
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    z-index: 3;
}

.main_screen .circle_wr .wave_1 {
    position: absolute;
    top: -15px;
    bottom: -15px;
    left: -15px;
    right: -15px;
    margin: auto;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: rgba(255, 228, 152, 0.29);
    -webkit-animation: pulse 0.7s ease-out infinite;
	animation: pulse 0.7s ease-out infinite;
    z-index: 1;
}

.main_screen .circle_wr .wave_2 {
    position: absolute;
    top: -35px;
    bottom: -35px;
    left: -35px;
    right: -35px;
    margin: auto;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: rgba(255, 228, 152, 0.161);
    -webkit-animation: pulse 0.7s ease-out infinite;
	animation: pulse 0.7s ease-out infinite;
    z-index: 0;
}

@-webkit-keyframes pulse {
	from {width:298px;height:298px;}
	to {width:335px;height:335px;}
}
@keyframes pulse {
	from {width:298px;height:298px;}
	to {width:335px;height:335px;}
}

.main_screen .form {
    box-sizing: border-box;
    border: 6px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2);
    max-width: 480px;
    height: 100%;
    padding: 72px 43px 47px;
}

.main_screen .form h1 {
    font-family: 'ProximaNovaCond';
    font-size: 38px;
    font-weight: 900;
    color: rgb(20, 31, 64);
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.main_screen .form .figures {
    font-family: 'ProximaNovaCond';
    font-size: 26px;
    font-weight: 400;
    color: rgb(36, 55, 115);
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
}

.form .input_wr {
    display: block;
    margin: 9px 0 17px;
}

.form .input_wr .wpcf7-form-control {
    display: block;
    box-sizing: border-box;
    height: 62px;
    width: 100%;
    font-size: 17px;
    font-weight: 400; 
    outline: none;
    padding: 10px 20px;
}

.main_screen .form .input_wr .wpcf7-form-control {
    border: none;
}

.form input:not([type=submit]):focus {
	border: 1px solid #000082;
}

.main_screen .form input:not([type=submit]):focus {
	border: 1px solid #000082;
}

.form .button_wr {
    display: block;
    margin: 28px 0 13px;
}

.button {
    display:inline-block;
    background-color: #304a9a;
    box-sizing: border-box;
    border: none;
    width: 100%;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    padding: 30px;
    font-family: 'ProximaNovaCond';
    font-size: 19px;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.form .guarantee {
    font-family: 'ProximaNovaCond';
    font-size: 16px;
    font-weight: 400;
    color: rgb(124, 124, 124);
    padding-left: 24px;
    position: relative;
} 

.form .guarantee::before {
    content: "";
    background-image: url(../img/sprites.svg);
    background-position: -74px -642px;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
}

/*advantages*/

.advantages_screen {
    padding: 148px 0 300px;
}

h2 {
    font-family: 'ProximaNovaCond';
    font-size: 42px;
    font-weight: 900;
    color: rgb(20, 31, 64);
    text-transform: uppercase;
    text-align: center;
    line-height: 1.15;
    margin: 0;
}

.caption {
    font-family: 'ProximaNovaCond';
    font-size: 30px;
    font-weight: 400;
    color: rgb(48, 74, 154);
    text-transform: uppercase;
    text-align: center;
    padding: 13px 0 48px;
}
 
.advantages_screen .advantages {
    display: flex;
    flex-wrap: wrap;
}

.advantages_screen .advantages .items {
    box-sizing: border-box;
    background-color: #304a9a;
    width: 50%;
}

.advantages_screen .advantages .items .inner {
    box-sizing: border-box;
    max-width: 600px;
    padding: 23px 123px 19px 0;
    margin: 0 0 0 auto;
}

.advantages_screen .advantages .items .item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 14px 0 9px;
}

.advantages_screen .advantages .item .number {
    font-size: 80px;
    font-weight: 900;
    color: rgb(255, 211, 90);
    line-height: 1;
    margin-right: 18px;
    min-width: 50px;    
    text-align: center;
}

.advantages_screen .advantages .item .text {
    border-left: 2px solid rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    line-height: 1.6;
    text-transform: uppercase;
    padding-left: 20px;
}

.advantages_screen .advantages .video {
    box-sizing: border-box;
    background-color: #e9e9e9;
    width: 50%;
    padding: 46px 0;
}

.advantages_screen .advantages .video .inner {
    box-sizing: border-box;
    max-width: 600px;
    margin: 0 auto 0 0;
    padding-left: 60px;
}

.advantages_screen .advantages .video .to_learn {
    font-size: 16px;
    font-weight: 400;
    color: rgb(48, 74, 154);
    text-align: right;
    line-height: 1.25;
    max-width: 400px;
    margin: 0 0 0 auto;
    position: relative;
}

.advantages_screen .advantages .video .to_learn::before {
    content: "";
    background-image: url(../img/sprites.svg);
    background-position: -6px -504px;
    width: 90px;
    height: 70px;
    position: absolute;
    left: -34px;
    top: -19px;
}

.advantages_screen .advantages .video a {
    display: block;
    background-image: url(../img/video_preview.jpg);
    background-position: center center;
    max-width: 546px;
    height: 346px;
    margin: 25px 0 13px;
    position: relative;
}

.advantages_screen .advantages .video a::before {
    content: "";
    background-image: url(../img/sprites.svg);
    background-position: -4px -356px;
    width: 110px;
    height: 110px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.advantages_screen .advantages .video .position {
    font-family: 'ProximaNovaCond';
    font-size: 18px;
    font-weight: 400;
    color: rgb(20, 31, 64);
    text-align: right;
}

.advantages_screen .advantages .video .name {
    font-family: 'ProximaNovaCond';
    font-size: 22px;
    font-weight: 700;
    color: rgb(20, 31, 64);
    text-align: right;
}

/*value_screen*/

.value_screen {
    background-image: url(../img/form_bg.jpg);
    background-size: cover;
    background-position: center center;
    height: 743px;
    position: relative; 
}

.value_screen .form {
    box-sizing: border-box;
    border: 6px solid rgb(255, 211, 90);
    background-color: rgb(255, 255, 255);
    max-width: 660px;
    position: absolute;
    top: -140px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 61px 74px 47px;
}

.value_screen .form .value {
    font-family: 'ProximaNovaCond';
    font-size: 42px;
    font-weight: 900;
    color: rgb(20, 31, 64);
    text-transform: uppercase;
    text-align: center;
}

.value_screen .form .value_caption {
    font-family: 'ProximaNovaCond';
    font-size: 30px;
    font-weight: 400;
    color: rgb(36, 55, 115);
    text-transform: uppercase;
    text-align: center;
    margin: 7px 0 24px;
}

.value_screen .form .input_wr.textarea .wpcf7-form-control {
    height: 170px;
    max-width:100%;
    padding: 15px 20px;
}

.value_screen .form .label {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 700;
}

.value_screen .form .term {
    margin: 24px 0 25px;
}

.value_screen .form .term .wpcf7-form-control-wrap {
    display: block;
    margin: 12px 0;
}

.value_screen .form .term .wpcf7-list-item {
    display: inline-block;
    padding: 10px 35px 10px 0;
}

.value_screen .form .term .wpcf7-list-item .wpcf7-list-item-label {
    font-size: 17px;
    color: rgb(0, 0, 0);
    padding-left: 5px;
}

/*radio_button*/

.value_screen .form input[type="radio"], .value_screen .form input[type="file"] {
    display: none;
}

.value_screen .form .term .wpcf7-list-item .radio_ripple {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 3px solid rgb(196, 196, 196);
    position: relative;
    margin-right: 5px;
    border-radius: 50%;
    box-sizing: border-box;
    vertical-align: middle;
    -webkit-transition: border-color 0.2s ease-in 0s;
    transition: border-color 0.2s ease-in 0s;
}

.value_screen .form .term .wpcf7-list-item .radio_ripple:before {
    content: '';
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
    margin: auto;
    width: 24px;
    height: 24px;
    background: rgb(70, 174, 255);
    border-radius: 50%;
    z-index: 1;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.2s ease-in 0s;
    transition: all 0.2s ease-in 0s;
}

.value_screen .form .term .wpcf7-list-item .radio_ripple:after {
    content: '';
    position: absolute;
    top: -15px;
    bottom: -15px;
    left: -15px;
    right: -15px;
    margin: auto;
    width: 0;
    height: 0;
    background: rgba(70, 174, 255, 0.5);
    border-radius: 50%;
    z-index: 0;
}

.value_screen .form .term .wpcf7-list-item.active .radio_ripple{
	border-color: rgb(70, 174, 255);
}

.value_screen .form .term .wpcf7-list-item.active .radio_ripple:before{
	-webkit-transform: scale(.5);
	transform: scale(.5);
}

.value_screen .form .term .wpcf7-list-item.active .radio_ripple:after{
	-webkit-animation: ripple 0.3s ease-out;
	animation: ripple 0.3s ease-out;
}

@-webkit-keyframes ripple {
	from {width:0;height:0;opacity:1;}
	to {width:47px;height:47px;opacity:0;}
}

@keyframes ripple {
	from {width:0;height:0;opacity:1;}
	to {width:47px;height:47px;opacity:0;}
}

.value_screen .form .file {
    margin-bottom: 25px;
}

.form .file .input_wr {
    border: 2px dashed rgb(215, 215, 215);
    padding: 17px 17px 17px 71px;
    margin: 22px 0 14px;
    position: relative;
}

.form .file label::before {
    content: "";
    background-image: url(../img/sprites.svg);
    background-position: -117px -636px;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 18px;
    top: 13px;
}

.value_screen .form .file .for_example {
    font-size: 17px;
    font-weight: 400;
    color: rgb(152, 152, 152);
}

.value_screen .form .button_wr {
    margin: 40px 0 13px;
}

/*thanks*/

.thanks {
    padding: 290px 0 35px;
}

.thanks .envelopes {
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;
}

.thanks .envelopes .thank {
    box-sizing: border-box;
    width: 25%;
    padding: 100px 30px;
}

.thanks .envelopes .thank .envelope_wrapper {
    position: relative; 
    width: 100%;
}

.thanks .envelopes .thank .background {
    background-color: rgb(201, 201, 201);
    width: 248px;
    height: 100px;
    position: absolute;
    left: 18px;
    top: 17px;
}

.thanks .envelopes .thank .letter {
    background-color: #0ef64d;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
    width: 236px;
    height: 246px;
    position: absolute;
    left: 24px;
    top: -108px;
    -webkit-transition: top 0.2s ease-in 0s;
    transition: top 0.2s ease-in 0s;
}

.thanks .envelopes .thank .letter::after {
    display: none;
    content: "";
    background-image: url(../img/sprites.svg);
    background-position: -1px -628px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    position: absolute;
    right: 14px;
    top: 13px;
}

.thanks .envelopes .thank:hover .letter {
    top: -128px;
}

.thanks .envelopes .thank:hover .letter::after {
    display: block;
}

.thanks .envelopes .thank .envelope {
    position: relative;
}

.thanks .envelopes .thank .envelope img {
    width: 285px;
}

.thanks .envelopes .thank .logo {
    background-image: url(../img/clients_logos.png);
    background-position: -110px -12px;
    width: 125px;
    height: 65px;
    text-align: center;
    margin: 0 auto;
}

.thanks .envelopes .thank.magnit .logo {
    background-position: -2px -87px;
}

.thanks .envelopes .thank.bayer .logo {
    background-position: -2px -161px;
}

.thanks .envelopes .thank.onduline .logo {
    background-position: -2px -232px;
}

.thanks .envelopes .thank.knauf .logo {
    background-position: -2px -307px;
}

.thanks .envelopes .thank.jcb .logo {
    background-position: -2px -380px;
}

.thanks .envelopes .thank.vimm .logo {
    background-position: -2px -448px;
}

.thanks .envelopes .thank.tarkett .logo {
    background-position: -2px -532px;
}


/*question_answer*/

.question_answer .caption {
    padding: 9px 0 37px;
}

.question_answer .question {
    box-sizing: border-box;
    background-color: #304a9a;
    padding: 17px 100px 20px 31px;
    margin-top: 30px;
    position: relative;
	cursor:pointer;
    font-size: 24px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.question_answer .question:after {
    content: "+";
    font-size: 40px;
    font-weight: 900;
    font-family: "ProximaNova";
    color: rgb(255, 255, 255);
    line-height: 78px;
    text-align: center;
    width: 70px;
    background-color: #46aeff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    font-weight: normal;
}

.question_answer .question.active:after {
	content:'-';
    line-height: 68px;
}

.question_answer .answer {
	box-sizing: border-box;
    background-color: #f9f9f9;
    padding: 17px 100px 20px 31px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    position: relative;
    font-size: 16px;
}

/*media*/

@media screen and (max-width: 1279px) {
    
    .wrapper {
        padding: 0 15px;
    }
    
    .main_screen .circle_wr {
        left: 9px;
        top: 235px;
    }
    
    .main_screen .form {
        max-width: 440px;
        padding: 72px 35px 47px;
    }
    
    h2 {
        font-size: 34px;
    }

    .caption {
        font-size: 26px;
        padding: 20px 0 52px;
    }
    
    .advantages_screen .advantages .items {
        width: 100%;
        padding: 23px 15px 24px;
    }
    
    .advantages_screen .advantages .items .inner {
        margin: 0 auto;
        padding: 0;
    }

    .advantages_screen .advantages .video {
        width: 100%;
        padding: 46px 15px;
    }
    
    .advantages_screen .advantages .video .inner {
        max-width: 546px;
        margin: 0 auto;
        padding-left: 0;
    }
    
    .thanks .envelopes .thank {
        width: 33.3333%;
    }
}

@media screen and (max-width: 1023px) {
    .main_screen {
        padding: 50px 0 40px;
    }
    
    .main_screen .wrapper {
        justify-content: center;
        padding: 0; 
    }
    
    .main_screen .example img {
        position: static;
        margin-top: -20px;
        max-width: 550px;
        width: 100%;
    }
    
    .main_screen .circle_wr {
        left: -42px;
        top: 219px;
    }
    
    .main_screen .form {
        max-width: 1023px;
        width: 100%;
        border-left: none;
        border-right: none;
        padding: 72px 15px 47px;
        margin-top: 7px;
    }
    
    .main_screen .form .form_wrapper {
        max-width: 360px;
        margin: 0 auto;
    }
    
    .advantages_screen {
        padding: 108px 0 250px;
    }   
    
    .thanks .envelopes .thank {
        width: 50%;
    }
}

@media screen and (max-width: 767px) {
    .value_screen .form {
        margin: 0 15px;
        max-width: 767px;
        padding: 64px 15px 47px;
    }
}

@media screen and (max-width: 639px) {
    .between {
        justify-content: center;
    }
    
    .main_screen .circle_wr {
        position: static;
        width: 100%;
    }
    
    .main_screen .circle {
        position: static;
        width: 100%;
        border-radius: 0;
        border-left: none;
        border-right: none;
        border-bottom: none;
    }
    
    .main_screen .circle .text {
        text-align: center;
    }
    
    .main_screen .circle_wr .wave_1, .main_screen .circle_wr .wave_2 {
        display: none;
    }
    
    .advantages_screen .advantages .video .to_learn {
        max-width: 300px;
    }
    
    .advantages_screen .advantages .video .to_learn::before {
        left: -22px;
        top: -2px;
    }
    
    .thanks {
        padding: 350px 0 35px;
    }
    
    .thanks .envelopes .thank {
        width: 100%;
    }
}








